allow tiktok bluetooth_prop:file read;
allow tiktok bootloader_boot_reason_prop:file read;
allow tiktok runtime_event_log_tags_file:file read;
allow tiktok boottime_prop:file read;
allow tiktok cnd_vendor_prop:file read;
allow tiktok ctl_bootanim_prop:file read;
allow tiktok ctl_bugreport_prop:file read;
allow tiktok ctl_console_prop:file read;
allow tiktok runtime_event_log_tags_file:file open;
allow tiktok serialno_prop:file read;
allow tiktok sysfs:file read;
allow tiktok ctl_default_prop:file { read open getattr };
allow tiktok ctl_dumpstate_prop:file { read open getattr };
allow tiktok ctl_fuse_prop:file { read open getattr };
allow tiktok ctl_interface_restart_prop:file { read open getattr };
allow tiktok ctl_interface_start_prop:file { read open getattr };
allow tiktok ctl_interface_stop_prop:file { read open getattr };
allow tiktok ctl_mdnsd_prop:file { read open getattr };
allow tiktok ctl_qcrild_prop:file { read open getattr };
allow tiktok ctl_restart_prop:file { read open getattr };
allow tiktok proc_uptime:file { read open getattr };
allow tiktok proc_stat:file { read open getattr };
allow tiktok ctl_rildaemon_prop:file { read open getattr };
allow tiktok ctl_sigstop_prop:file { read open getattr };
allow tiktok ctl_start_prop:file { read open getattr };
allow tiktok ctl_stop_prop:file { read open getattr };
allow tiktok ctl_vendor_hbtp_prop:file { read open getattr };
allow tiktok sysfs:dir { read open getattr };
allow tiktok hal_memtrack_default:binder { call };
allow tiktok net_dns_prop:file { read open getattr };
allow tiktok mnt_media_rw_file:dir { getattr };
allow tiktok mnt_product_file:dir { getattr };
allow tiktok mnt_vendor_file:dir { getattr };
allow tiktok sysfs:file { getattr };
allow tiktok sysfs:file { open };
allow tiktok persist_camera_prop:file { getattr open read };
allow tiktok theme_prop:file { open read };
allow tiktok theme_prop:file { getattr };
allow tiktok proc_net_tcp_udp:file { read };
allow tiktok proc_qtaguid_stat:file { read };
allow tiktok serialno_prop:file { open };
allow tiktok proc_qtaguid_stat:file { open };
allow tiktok rootfs:file { getattr };
allow tiktok mnt_vendor_file:dir { search };
allow tiktok firmware_file:dir { getattr };
allow tiktok firmware_file:filesystem { getattr };
allow tiktok block_device:dir { search };
allow tiktok cache_file:lnk_file { read };
allow tiktok charger_exec:file { getattr };
allow tiktok adsprpcd_file:dir { getattr };
allow tiktok vendor_file:file { getattr };
allow tiktok vendor_firmware_file:dir { getattr };
allow tiktok rootfs:dir { search open read };
allow tiktok proc_tty_drivers:file { read };
allow tiktok serialno_prop:file { getattr };
allow tiktok proc:file { read };
allow tiktok proc_zoneinfo:file { read };
allow tiktok proc_qtaguid_stat:file { getattr };
allow tiktok postinstall_mnt_dir:dir { getattr };
allow tiktok adsprpc_prop:file { open };
allow tiktok adsprpc_prop:file { getattr };
allow tiktok apexd_prop:file { open };
allow tiktok apexd_prop:file { getattr };
allow tiktok bg_boot_complete_prop:file { open };
allow tiktok bg_boot_complete_prop:file { getattr };
allow tiktok bluetooth_prop:file { open };
allow tiktok proc_vmstat:file { open };
allow tiktok proc_vmstat:file { getattr };
allow tiktok proc_version:file { read };
allow tiktok proc_version:file { open };
allow tiktok proc_version:file { getattr };
allow tiktok proc_zoneinfo:file { open };
allow tiktok proc_zoneinfo:file { getattr };
allow tiktok proc:file { open };
allow tiktok proc:file { getattr };
allow tiktok proc_tty_drivers:file { open };
allow tiktok proc_tty_drivers:file { getattr };
allow tiktok tiktok:udp_socket { ioctl };
allow tiktok app_data_file:file { execute };
allow tiktok anr_data_file:dir { read };
allow tiktok anr_data_file:dir { open };
allow tiktok app_data_file:file { relabelfrom };
allow tiktok sdcardfs:file { relabelto };
allow tiktok sysfs_kgsl:file { read };
allow tiktok proc_interrupts:file { read };
allow tiktok sysfs_graphics:file { read };
allow tiktok sysfs_graphics:file { open };
allow tiktok debugfs:dir { read };
allow tiktok proc_asound:dir { search };
allow tiktok sysfs_kgsl:lnk_file { read };
allow tiktok selinuxfs:file { read };
allow tiktok selinuxfs:file { open };
allow tiktok bluetooth_prop:file { getattr };
allow tiktok bootloader_boot_reason_prop:file { open };
allow tiktok boottime_prop:file { open };
allow tiktok cnd_vendor_prop:file { open };
allow tiktok ctl_bootanim_prop:file { open };
allow tiktok ctl_bugreport_prop:file { open };
allow tiktok sysfs_net:dir { search };
allow tiktok ctl_console_prop:file { open };
allow tiktok ctl_default_prop:file { open };
allow tiktok proc_net_tcp_udp:file { open };
allow tiktok sepolicy_file:file { getattr };
allow tiktok mac_perms_file:file { getattr };
allow tiktok seapp_contexts_file:file { getattr };
allow tiktok proc_interrupts:file { open };
allow tiktok bootloader_boot_reason_prop:file { getattr };
allow tiktok boottime_prop:file { getattr };
allow tiktok cnd_vendor_prop:file { getattr };
allow tiktok proc_interrupts:file { getattr };
allow tiktok sysfs_graphics:file { getattr };
allow tiktok debugfs:dir { open };
allow tiktok proc_asound:file { read open getattr  };
allow tiktok proc_net:file { read };
allow tiktok sysfs_kgsl:file { open };
allow tiktok proc_net_tcp_udp:file { getattr };
allow tiktok hal_memtrack_hwservice:hwservice_manager { find };
allow tiktok proc_net:file { open };
allow tiktok proc_net:file { getattr };
allow tiktok anr_data_file:dir { getattr };
allow tiktok bg_daemon_prop:file { open };
allow tiktok bg_daemon_prop:file { getattr };
allow tiktok bpf_progs_loaded_prop:file { open };
allow tiktok bpf_progs_loaded_prop:file { getattr };
allow tiktok ctl_LKCore_prop:file { open };
allow tiktok sysfs_kgsl:file { getattr };
allow tiktok init_exec:lnk_file { read };
allow tiktok mnt_vendor_file:lnk_file { read };
allow tiktok init_exec:file { getattr };
allow tiktok init_exec:lnk_file { getattr };
allow tiktok mnt_vendor_file:lnk_file { getattr };
allow tiktok cache_file:lnk_file { getattr };
allow tiktok vendor_audio_prop:file { read open getattr };
allow tiktok ctl_LKCore_prop:file { getattr };
allow tiktok DockObserver_service:service_manager { find };
allow tiktok adb_service:service_manager { find };
allow tiktok apex_service:service_manager { find };
allow tiktok app_binding_service:service_manager { find };
allow tiktok battery_service:service_manager { find };
allow tiktok binder_calls_stats_service:service_manager { find };
allow tiktok bugreport_service:service_manager { find };
allow tiktok color_display_service:service_manager { find };
allow tiktok cpuinfo_service:service_manager { find };
allow tiktok dbinfo_service:service_manager { find };
allow tiktok device_config_service:service_manager { find };
allow tiktok devicestoragemonitor_service:service_manager { find };
allow tiktok diskstats_service:service_manager { find };
allow tiktok dnsresolver_service:service_manager { find };
allow tiktok external_vibrator_service:service_manager { find };
allow tiktok gfxinfo_service:service_manager { find };
allow tiktok incident_service:service_manager { find };
allow tiktok inputflinger_service:service_manager { find };
allow tiktok lock_settings_service:service_manager { find };
allow tiktok looper_stats_service:service_manager { find };
allow tiktok cameraproxy_service:service_manager { find };
allow tiktok meminfo_service:service_manager { find };
allow tiktok netd_service:service_manager { find };
allow tiktok netd_listener_service:service_manager { find };
allow tiktok network_score_service:service_manager { find };
allow tiktok network_stack_service:service_manager { find };
allow tiktok network_time_update_service:service_manager { find };
allow tiktok network_watchlist_service:service_manager { find };
allow tiktok oem_lock_service:service_manager { find };
allow tiktok otadexopt_service:service_manager { find };
allow tiktok overlay_service:service_manager { find };
allow tiktok persistent_data_block_service:service_manager { find };
allow tiktok pinner_service:service_manager { find };
allow tiktok processinfo_service:service_manager { find };
allow tiktok recovery_service:service_manager { find };
allow tiktok runtime_service:service_manager { find };
allow tiktok scheduling_policy_service:service_manager { find };
allow tiktok secure_element_service:service_manager { find };
allow tiktok serial_service:service_manager { find };
allow tiktok storaged_service:service_manager { find };
allow tiktok system_suspend_control_service:service_manager { find };
allow tiktok system_update_service:service_manager { find };
allow tiktok testharness_service:service_manager { find };
allow tiktok timedetector_service:service_manager { find };
allow tiktok updatelock_service:service_manager { find };
allow tiktok vold_service:service_manager { find };
allow tiktok wificond_service:service_manager { find };
allow tiktok dalvikcache_data_file:file { execmod };
allow tiktok ctl_bootanim_prop:file { getattr };
allow tiktok ctl_bugreport_prop:file { getattr };
allow tiktok ctl_console_prop:file { getattr };
allow tiktok ctl_default_prop:file { getattr };
allow tiktok ctl_dumpstate_prop:file { open };
allow tiktok sysfs_kgsl:dir { search };
allow tiktok system_bootstrap_lib_file:dir { getattr };
allow tiktok sysfs_lowmemorykiller:dir { search };
allow tiktok kcal_dev:dir { read };
allow tiktok kcal_dev:dir { open };
allow tiktok cpuboost_prop:file { open };
allow tiktok cpuboost_prop:file { getattr };
allow tiktok ctl_dumpstate_prop:file { getattr };
allow tiktok cpucore_prop:file { open };
allow tiktok cpucore_prop:file { getattr };
allow tiktok ctl_adbd_prop:file { open };
allow tiktok ctl_fuse_prop:file { getattr };
allow tiktok ctl_adbd_prop:file { getattr };
allow tiktok ctl_fm_prop:file { open };
allow tiktok ctl_fm_prop:file { getattr };
allow tiktok ctl_fuse_prop:file { open };
allow tiktok ctl_interface_restart_prop:file { open };
allow tiktok ctl_interface_start_prop:file { open };
allow tiktok ctl_interface_stop_prop:file { open };
allow tiktok ctl_mdnsd_prop:file { open };
allow tiktok vendor_system_prop:file { read open getattr };
allow tiktok ctl_interface_restart_prop:file { getattr };
allow tiktok ctl_interface_start_prop:file { getattr };
allow tiktok ctl_interface_stop_prop:file { getattr };
allow tiktok ctl_mdnsd_prop:file { getattr };
allow tiktok kcal_dev:dir { search };
allow tiktok proc_touchpanel:dir { search };
allow tiktok block_device:dir { getattr };
allow tiktok userdata_block_device:blk_file { getattr };
allow tiktok kcal_dev:file { getattr };
allow tiktok adb_data_file:dir { getattr };
allow tiktok update_engine_service:service_manager { find };
allow tiktok installd_service:service_manager { find };
allow tiktok wifiscanner_service:service_manager { find };
allow tiktok window_service:service_manager { find };
allow tiktok cgroup:dir { read };
allow tiktok vendor_file:file { read open };
allow tiktok kcal_dev:lnk_file { read open getattr };
allow tiktok bluetooth_prop:file { read };
allow tiktok bootloader_boot_reason_prop:file { read };
allow tiktok boottime_prop:file { read };
allow tiktok ctl_bootanim_prop:file { read open getattr };
allow tiktok ctl_bugreport_prop:file { read open getattr };
allow tiktok cnd_vendor_prop:file { read };
allow tiktok postinstall_mnt_dir:dir { getattr };
allow tiktok net_dns_prop:file { read };
allow tiktok theme_prop:file { read open };
allow tiktok property_socket:sock_file { write };
allow tiktok init:unix_stream_socket { connectto };
allow tiktok default_prop:property_service { set };
allow tiktok proc_vmstat:file { open };
allow tiktok persist_camera_prop:file { open read };
allow tiktok proc_qtaguid_stat:file { read };
allow tiktok proc_vmstat:file { getattr };
allow tiktok radio_data_file:dir { getattr };
allow tiktok persist_camera_prop:file { getattr };
allow tiktok serialno_prop:file { read open getattr };
allow tiktok rootfs:dir { read };
allow tiktok rootfs:dir { open };
allow tiktok adsprpc_prop:file { open };
allow tiktok apexd_prop:file { open };
allow tiktok apexd_prop:file { getattr };
allow tiktok bluetooth_prop:file { open };
allow tiktok bootloader_boot_reason_prop:file { open };
allow tiktok boottime_prop:file { open };
allow tiktok cnd_vendor_prop:file { open };
allow tiktok vendor_system_prop:file { read open getattr };
allow tiktok anr_data_file:dir { read };
allow tiktok bluetooth_prop:file { getattr };
allow tiktok bootloader_boot_reason_prop:file { getattr };
allow tiktok boottime_prop:file { getattr };
allow tiktok cnd_vendor_prop:file { getattr };
allow tiktok sysfs:file { read };
allow tiktok system_file:file { lock };
allow tiktok_237496235786324 vendor_file:file { read open getattr };
allow tiktok bluetooth_prop:file read;
allow tiktok bootloader_boot_reason_prop:file read;
allow tiktok proc_vmstat:file read;
allow tiktok runtime_event_log_tags_file:file read;
allow tiktok boottime_prop:file read;
allow tiktok cnd_vendor_prop:file read;
allow tiktok runtime_event_log_tags_file:file open;
allow tiktok ctl_dumpstate_prop:file { read };
allow tiktok ctl_fuse_prop:file { read };
allow tiktok ctl_interface_restart_prop:file { read };
allow tiktok ctl_interface_start_prop:file { read };
allow tiktok ctl_interface_stop_prop:file { read };
allow tiktok ctl_mdnsd_prop:file { read };
allow tiktok ctl_qcrild_prop:file { read };
allow tiktok ctl_restart_prop:file { read open getattr };
allow tiktok ctl_rildaemon_prop:file { read open getattr };
allow tiktok ctl_sigstop_prop:file { read };
allow tiktok ctl_start_prop:file { read open getattr };
allow tiktok ctl_stop_prop:file { read open getattr };
allow tiktok sysfs_thermal:file { write };
allow tiktok rootfs:dir { read };
allow tiktok debugfs:dir { read };
allow tiktok firmware_file:dir { getattr };
allow tiktok init_exec:file { getattr };
allow tiktok device:dir { read };
allow tiktok device:file { getattr };
allow tiktok xdsp_device:chr_file { getattr };
allow tiktok device:chr_file { getattr };
allow tiktok sepolicy_file:file { getattr };
allow tiktok file_contexts_file:file { getattr };
allow tiktok hwservice_contexts_file:file { getattr };
allow tiktok mac_perms_file:file { getattr };
allow tiktok firmware_file:dir { read };
allow tiktok firmware_file:dir { search };
allow tiktok sysfs_kgsl:dir search;
allow tiktok sysfs_kgsl:file { open read };
allow tiktok camera_prop:file { getattr open read };
allow tiktok theme_prop:file { read };
allow tiktok net_dns_prop:file { read };
allow tiktok proc:file { read };
allow tiktok proc:file { open };
allow tiktok proc_vmstat:file { getattr };
allow tiktok theme_prop:file { open };
allow tiktok proc_vmstat:file { open };
allow tiktok proc:file { getattr };
allow tiktok app_data_file:file { execute_no_trans };
allow tiktok vendor_file:file { getattr };
allow tiktok adsprpcd_file:dir { getattr };
allow tiktok keylayout_file:dir { getattr };
allow tiktok sysfs_net:dir { read };
allow tiktok mnt_vendor_file:dir { search };
allow tiktok firmware_file:filesystem { getattr };
allow tiktok selinuxfs:file { open read };
allow tiktok proc_asound:dir { search };
allow tiktok rootfs:dir { open };
allow tiktok postinstall_mnt_dir:dir { getattr };
allow tiktok proc_tty_drivers:file { read };
allow tiktok proc_tty_drivers:file { open };
allow tiktok proc_tty_drivers:file { getattr };
allow tiktok serialno_prop:file { read };
allow tiktok serialno_prop:file { open };
allow tiktok serialno_prop:file { getattr };
allow tiktok proc_net_tcp_udp:file { read };
allow tiktok proc_net_tcp_udp:file { open };
allow tiktok proc_net_tcp_udp:file { getattr };
allow tiktok cgroup_desc_file:file { getattr };
allow tiktok system_bootstrap_lib_file:dir { getattr };
allow tiktok apk_data_file:file { setattr };
allow tiktok service_contexts_file:file { getattr };
allow tiktok seapp_contexts_file:file { getattr };
allow tiktok cache_file:lnk_file { read };
allow tiktok postinstall_mnt_dir:dir { read };
allow tiktok device:dir { open };
allow tiktok vendor_firmware_file:dir { getattr };
allow tiktok adsprpcd_file:dir { read };
allow tiktok vendor_file:file { read };
allow tiktok persist_camera_prop:file { read open getattr map };
allow tiktok vendor_default_prop:file { map };
allow tiktok rootfs:file { read getattr open };
allow tiktok sepolicy_file:file { read };
allow tiktok mac_perms_file:file { read };
allow tiktok sysfs:dir { read open };
allow tiktok tiktok:fifo_file { ioctl };
allow tiktok hal_memtrack_default:binder { call };
allow tiktok charger_exec:file { getattr };
allow tiktok init_exec:lnk_file { getattr };
allow tiktok mnt_vendor_file:lnk_file { getattr };
allow tiktok cache_file:lnk_file { getattr };
allow tiktok sysfs_graphics:file { read };
allow tiktok sysfs_devfreq:dir { search };
allow tiktok proc_version:file { read };
allow tiktok bluetooth_prop:file { open };
allow tiktok bootloader_boot_reason_prop:file { open };
allow tiktok boottime_prop:file { open };
allow tiktok ctl_interface_restart_prop:file { open };
allow tiktok proc_net:file { read open getattr };
allow tiktok unlabeled:file { getattr };
allow tiktok proc_keys:file { getattr };
allow tiktok proc_kmsg:file { getattr };
allow tiktok proc_misc:file { getattr };
allow tiktok proc_stat:file { getattr };
allow tiktok proc_iomem:file { getattr };
allow tiktok proc_swaps:file { getattr };
allow tiktok proc_uptime:file { getattr };
allow tiktok proc_cmdline:file { getattr };
allow tiktok kernel:system { syslog_read };
allow tiktok init_exec:lnk_file { read };
allow tiktok mnt_vendor_file:lnk_file { read };
allow tiktok cgroup:dir { read };
allow tiktok init_exec:file { read };
allow tiktok sysfs_net:dir { search };
allow tiktok mnt_vendor_file:dir { getattr };
allow tiktok at_device:chr_file { getattr };
allow tiktok tiktok:udp_socket { ioctl };
allow tiktok cgroup_rc_file:dir { getattr };
allow tiktok vendor_file:file { open };
allow tiktok console_device:chr_file { getattr };
allow tiktok vendor_firmware_file:dir { read };
allow tiktok vendor_firmware_file:dir { search };
allow tiktok vendor_firmware_file:file { getattr };
allow tiktok adsprpcd_file:dir { search };
allow tiktok mnt_media_rw_file:dir { getattr };
allow tiktok mnt_product_file:dir { getattr };
allow tiktok avtimer_device:chr_file { getattr };
allow tiktok block_device:dir { getattr };
allow tiktok adsprpc_prop:file { open };
allow tiktok adsprpc_prop:file { getattr };
allow tiktok apexd_prop:file { open };
allow tiktok apexd_prop:file { getattr };
allow tiktok bg_boot_complete_prop:file { open };
allow tiktok camera_prop:file { getattr open read };
allow tiktok persist_camera_prop:file { getattr open read };
allow tiktok charger_exec:file { read };
allow tiktok cgroup:file { getattr };
allow tiktok mnt_vendor_file:file { getattr };
allow tiktok persist_alarm_file:dir { getattr };
allow tiktok apexd_exec:file { getattr };
allow tiktok adbd_exec:file { getattr };
allow tiktok hal_imsrtp:dir { getattr };
allow tiktok vendor_toolbox_exec:file { getattr };
allow tiktok vendor_toolbox_exec:file { read };
allow tiktok app_data_file:file { execute };
allow tiktok bg_boot_complete_prop:file { getattr };
allow tiktok bg_daemon_prop:file { open };
allow tiktok bg_daemon_prop:file { getattr };
allow tiktok bluetooth_prop:file { getattr };
allow tiktok bootloader_boot_reason_prop:file { getattr };
allow tiktok boottime_prop:file { getattr };
allow tiktok bpf_progs_loaded_prop:file { open };
allow tiktok bpf_progs_loaded_prop:file { getattr };
allow tiktok cnd_vendor_prop:file { open };
allow tiktok cnd_vendor_prop:file { getattr };
allow tiktok ctl_interface_restart_prop:file { getattr };
allow tiktok ctl_qcrild_prop:file { open };
allow tiktok ctl_dumpstate_prop:file { open };
allow tiktok ctl_fuse_prop:file { open };
allow tiktok ctl_interface_start_prop:file { open };
allow tiktok ctl_interface_stop_prop:file { open };
allow tiktok ctl_sigstop_prop:file { open };
allow tiktok proc_version:file { open };
allow tiktok proc_loadavg:file { read open };
allow tiktok sysfs:file { read };
allow tiktok sysfs_kgsl:lnk_file { read };
allow tiktok sysfs_kgsl:file { getattr };
allow tiktok block_device:dir { search };
allow tiktok vendor_system_prop:file { read open getattr };
allow tiktok diag_device:chr_file { getattr };
allow tiktok configfs:dir { read };
allow tiktok configfs:dir { search };
allow tiktok bt_device:chr_file { getattr };
allow tiktok proc_version:file { getattr };
allow tiktok proc_zoneinfo:file { read open getattr };
allow tiktok dalvikcache_data_file:file { execmod };
allow tiktok net_dns_prop:file { open };
allow tiktok proc_qtaguid_stat:file { read };
allow tiktok proc_qtaguid_stat:file { open };
allow tiktok proc_qtaguid_stat:file { getattr };
allow tiktok cpuboost_prop:file { open };
allow tiktok cpuboost_prop:file { getattr };
allow tiktok cpucore_prop:file { open };
allow tiktok cpucore_prop:file { getattr };
allow tiktok ctl_LKCore_prop:file { open };
allow tiktok ctl_LKCore_prop:file { getattr };
allow tiktok ctl_adbd_prop:file { open };
allow tiktok ctl_bootanim_prop:file { open };
allow tiktok proc_stat:file { open };
allow tiktok ctl_dumpstate_prop:file { getattr };
allow tiktok ctl_fuse_prop:file { getattr };
allow tiktok ctl_interface_start_prop:file { getattr };
allow tiktok ctl_interface_stop_prop:file { getattr };
allow tiktok ctl_mdnsd_prop:file { open };
allow tiktok ctl_qcrild_prop:file { getattr };
allow tiktok net_dns_prop:file { getattr };
allow tiktok ctl_mdnsd_prop:file { getattr };
allow tiktok ctl_sigstop_prop:file { getattr };
allow tiktok device_latency:chr_file { getattr };
allow tiktok dm_device:chr_file { getattr };
allow tiktok rmnet_device:chr_file { getattr };
allow tiktok runtime_event_log_tags_file:file { getattr };
allow tiktok tiktok:dir { write };
allow tiktok fscklogs:dir { getattr };
allow tiktok device:chr_file { write };
allow tiktok fuse_device:chr_file { getattr };
allow tiktok kernel:dir { getattr };
allow tiktok flags_health_check_exec:file { getattr };
allow tiktok fsck_exec:file { getattr };
allow tiktok netutils_wrapper_exec:file { read };
allow tiktok netutils_wrapper_exec:file { getattr };
allow tiktok tcpdump_exec:file { getattr };;
allow tiktok init:dir { getattr };
allow tiktok hal_rcsservice:dir { getattr };
allow tiktok apex_mnt_dir:dir { read };
allow tiktok hal_memtrack_default:dir { getattr };
allow tiktok hal_power_default:dir { getattr };
allow tiktok hal_sensors_default:dir { getattr };
allow tiktok hal_thermal_default:dir { getattr };
allow tiktok system_bootstrap_lib_file:dir { read };
allow tiktok postinstall_mnt_dir:dir { open };
allow tiktok mnt_vendor_file:dir { read };
allow tiktok mnt_product_file:dir { read };
allow tiktok apex_mnt_dir:dir { open };
allow tiktok adsprpcd_file:file { getattr };
