# Copyright (c) 2017-2020, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

type vendor_qcc_lmtp_app, domain, coredomain;
userdebug_or_eng(`
  app_domain(vendor_qcc_lmtp_app)
  net_domain(vendor_qcc_lmtp_app)
  binder_use(vendor_qcc_lmtp_app)

  allow vendor_qcc_lmtp_app {activity_service}:service_manager find;

  allow vendor_qcc_lmtp_app location_service:service_manager find;

  # for vendor_perf_service
  allow vendor_qcc_lmtp_app vendor_perf_service:service_manager find;

  # allow access to socket
  unix_socket_connect(vendor_qcc_lmtp_app, vendor_dpmtcm, vendor_dpmd)

  # allow access to qcc dropbox
  allow vendor_qcc_lmtp_app vendor_qcc_data_file:dir create_dir_perms;
  allow vendor_qcc_lmtp_app vendor_qcc_data_file:file create_file_perms;

  # allow vendor_qcc_lmtp_app to access system_app_data_file
  # necessary for read and write /data/data subdirectory
  allow vendor_qcc_lmtp_app system_app_data_file:dir create_dir_perms;
  allow vendor_qcc_lmtp_app system_app_data_file:file create_file_perms;

  # Allow read-write permissions to qdma sockets under vendor_qcc_app_socket.
  unix_socket_connect(vendor_qcc_lmtp_app, vendor_qcc_app, vendor_qcc_app)
  allow vendor_qcc_lmtp_app vendor_qcc_app_socket:dir rw_dir_perms;
  allow vendor_qcc_lmtp_app vendor_qcc_app_socket:sock_file create_file_perms;
')
