r_dir_file(hal_health_default, sysfs_scsi_devices_0000)
set_prop(hal_health_default, vendor_shutdown_prop)

allow hal_health_default fwk_stats_hwservice:hwservice_manager find;

allow hal_health_default sysfs:file { read getattr open };
allow hal_health_default sysfs_thermal:dir r_dir_perms;
allow hal_health_default sysfs_thermal:file rw_file_perms;
allow hal_health_default mnt_vendor_file:dir search;
