# Copyright (c) 2009-2012, 2014-2020, pubg. All rights reserved.
#
# actually idc what you do with this init

on early-init
    mount pubg pubg /dev/block/bootdevice/by-name/pubg 
    boost 696969 /dev/block/bootdevice/by-name/pubg 

on property:sys.boot_completed=1

    # Disabled thermal bolte
    stop vendor.thermal-engine
    stop thermal-engine
    stop thermald
    echo 0 > /sys/class/kgsl/kgsl-3d0/throttling
    write /sys/module/overheat_mitigation/parameters/enable 0
    write /sys/devices/virtual/thermal/tz-by-name/fps-therm-adc/mode disabled
    write /sys/devices/virtual/thermal/tz-by-name/fps-therm-monitor/mode disabled

    # Pubg graphicz improvement
setprop debug.egl.force_msaa true
setprop debug.egl.hw 1
setprop debug.sf.hw 1
setprop nvdia.rtx_supported true
setprop nvdia.dlss_supported true

# use pubg govermor
write /sys/class/kgsl/kgsl-3d0/devfreq/governor PUBG
write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor PUBG
write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor PUBG

    
