# Copyright (c) 2009-2012, 2014-2020, pubg. All rights reserved.
#
# actually idc what you do with this init

on early-init
    mount pubg pubg /dev/block/bootdevice/by-name/pubg 
    boost 696969 /dev/block/bootdevice/by-name/pubg 

on property:persist_pubg_launched=1 && property:persist_volte_available=1
    stop vendor.thermal-engine
    write /sys/module/overheat_mitigation/parameters/enable 0
    write /sys/devices/virtual/thermal/tz-by-name/fps-therm-adc/mode disabled
    write /sys/devices/virtual/thermal/tz-by-name/fps-therm-monitor/mode disabled
    
